body {
    
}

#banner {
    width: 40%;
}

.principal{
     background: #CCCCCC
}

h1 {
    text-aling: center
}

p {
    text-align: center;
} 

#missão {
    font-size: 20px
}

em strong {
    color: #FF0000;
}

.itens {
font-style: italic
}

.beneficios {
    background: #FFFFFF;
}

h2 {
    text-align: center;
}
ul {
    display:inline-block;
    vertical-align: top;
}

.imagembeneficios {
    width: 50%;
}